RegressionTests/GertToUTW/TestFiles/machine-readable-logs.xsd

<?xml version="1.0" encoding="utf-8" ?>

    <!--
        Validation:
        xmllint.exe - -schema machine-readable-logs.xsd testlog.xml
        Notepad++, Erweiterungen->XML Tools->Validate now (Xml Plugin must be installed)
    -->

    <!-- All elements/attribute which end with "Key" are primary/foreign keys which are automatically generated by the data base,
    here only used as placeholders-->
	
	<!-- Version="2.4" -->

    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                xmlns:sql="urn:schemas-microsoft-com:mapping-schema">

      <xsd:annotation>
        <xsd:documentation xml:lang="EN">TestRun
          Defines the XML format for inserting test data into a database.
          Copyright 2023 AVNET Embedded. All rights reserved.
        </xsd:documentation>

        <!-- Definitions of relationships between DB tables, format: <Parent table>_<Child table>
        parent-key = primary key in parent table
        child-key = foreign key in child table-->
        <xsd:appinfo>
          <sql:relationship name="TestRun_EquipmentItem"
              parent="TestRun_Table"
              parent-key="TestRun_Key"
              child="EquipmentItem_Table"
              child-key="TestRun_Key" />
              
          <sql:relationship name="TestItem_EquipmentItem"
              parent="TestItem_Table"
              parent-key="TestItem_Key"
              child="EquipmentItem_Table"
              child-key="TestItem_Key" />

          <sql:relationship name="TestRun_LibraryItem"
              parent="TestRun_Table"
              parent-key="TestRun_Key"
              child="LibraryItem_Table"
              child-key="TestRun_Key" />
              
          <sql:relationship name="TestRun_SerialNumberAttributes"
              parent="TestRun_Table"
              parent-key="TestRun_Key"
              child="SerialNumberAttributes_Table"
              child-key="TestRun_Key" />
              
          <sql:relationship name="TestRun_TestHandleAttributes"
              parent="TestRun_Table"
              parent-key="TestRun_Key"
              child="TestHandleAttributes_Table"
              child-key="TestRun_Key" />

          <sql:relationship name="TestRun_TestItem"
              parent="TestRun_Table"
              parent-key="TestRun_Key"
              child="TestItem_Table"
              child-key="TestRun_Key" />

          <sql:relationship name="TestItem_ValueText"
              parent="TestItem_Table"
              parent-key="TestItem_Key"
              child="ValueText_Table"
              child-key="TestItem_Key" />

          <sql:relationship name="TestItem_ValueMeasurement"
              parent="TestItem_Table"
              parent-key="TestItem_Key"
              child="ValueMeasurement_Table"
              child-key="TestItem_Key" />

          <sql:relationship name="ValueMeasurement_ValueMeasurementMin"
              parent="ValueMeasurement_Table"
              parent-key="ValueMeasurement_Key"
              child="ValueMeasurementMin_Table"
              child-key="ValueMeasurement_Key" />

          <sql:relationship name="ValueMeasurement_ValueMeasurementMax"
              parent="ValueMeasurement_Table"
              parent-key="ValueMeasurement_Key"
              child="ValueMeasurementMax_Table"
              child-key="ValueMeasurement_Key" />

          <sql:relationship name="ValueMeasurement_ValueMeasurementTarget"
              parent="ValueMeasurement_Table"
              parent-key="ValueMeasurement_Key"
              child="ValueMeasurementTarget_Table"
              child-key="ValueMeasurement_Key" />

          <sql:relationship name="ValueMeasurement_ValueMeasurementActual"
              parent="ValueMeasurement_Table"
              parent-key="ValueMeasurement_Key"
              child="ValueMeasurementActual_Table"
              child-key="ValueMeasurement_Key" />

          <sql:relationship name="ValueMeasurement_Argument"
              parent="ValueMeasurement_Table"
              parent-key="ValueMeasurement_Key"
              child="Argument_Table"
              child-key="ValueMeasurement_Key" />
              
          <sql:relationship name="TestItem_Argument"
              parent="TestItem_Table"
              parent-key="TestItem_Key"
              child="Argument_Table"
              child-key="TestItem_Key" />

          <sql:relationship name="TestItem_ValueDigital"
              parent="TestItem_Table"
              parent-key="TestItem_Key"
              child="ValueDigital_Table"
              child-key="TestItem_Key" />

          <sql:relationship name="TestItem_ValueLogical"
              parent="TestItem_Table"
              parent-key="TestItem_Key"
              child="ValueLogical_Table"
              child-key="TestItem_Key" />

          <sql:relationship name="TestItem_ValueState"
              parent="TestItem_Table"
              parent-key="TestItem_Key"
              child="ValueState_Table"
              child-key="TestItem_Key" />

          <sql:relationship name="TestItem_ValueTimestamp"
              parent="TestItem_Table"
              parent-key="TestItem_Key"
              child="ValueTimestamp_Table"
              child-key="TestItem_Key" />

          <sql:relationship name="TestItem_ValueTimedelta"
              parent="TestItem_Table"
              parent-key="TestItem_Key"
              child="ValueTimedelta_Table"
              child-key="TestItem_Key" />

          <sql:relationship name="TestItem_ValueFile"
              parent="TestItem_Table"
              parent-key="TestItem_Key"
              child="ValueFile_Table"
              child-key="TestItem_Key" />
        </xsd:appinfo>
      </xsd:annotation>

      <!-- Data type definitions -->
      <xsd:simpleType name="material-number-type">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="\d*[1-9]+\d*" />
          <xsd:pattern value="\d{1,18}" />
        </xsd:restriction>
      </xsd:simpleType>

      <!--Only internal revision number-->
      <xsd:simpleType name="revision-type">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="([A-Z0-9]{4})*" />
        </xsd:restriction>
      </xsd:simpleType>

      <!-- Lot numbers in Stutensee 6 digits, manufacturing numbers in Eschbach 7 digits, -->
      <xsd:simpleType name="lot-type">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="([0-9]{6,7})*" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="version-type">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="[0-9]{1,2}.[0-9]{1,2}(.[0-9]{1,2})*(.[0-9]{1,4})*" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="hash-type">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="md5:[a-f0-9]{32}" />
          <xsd:pattern value="sha-1:[a-f0-9]{40}" />
          <xsd:pattern value="sha-256:[a-f0-9]{64}" />
          <xsd:pattern value="sha-512:[a-f0-9]{128}" />
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="operating-mode-type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="OPERATING"/>
          <xsd:enumeration value="ENGINEERING"/>
          <xsd:enumeration value="REPAIR"/>
          <xsd:enumeration value="DEVELOPMENT"/>
          <xsd:enumeration value="RMA"/>
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:complexType name="library-type">
        <xsd:attribute name="LibraryItem_Key" type="xsd:integer" />
        <xsd:attribute name="Name"            type="xsd:string" />
        <xsd:attribute name="Version"         type="xsd:string" />
        <xsd:attribute name="Type"            type="xsd:string" />
      </xsd:complexType>

      <xsd:complexType name="serial-number-attributes-type">
        <xsd:attribute name="SerialNumberAttributes_Key" type="xsd:integer"  use="required"/>
        <xsd:attribute name="Name"            type="xsd:string"  use="required"/>
        <xsd:attribute name="Value"           type="xsd:string"  use="required"/>
        <xsd:attribute name="Comment"         type="xsd:string"/>
      </xsd:complexType>
      
      <xsd:complexType name="test-handle-attributes-type">
        <xsd:attribute name="TestHandleAttributes_Key" type="xsd:integer"  use="required"/>
        <xsd:attribute name="Name"            type="xsd:string"  use="required"/>
        <xsd:attribute name="Value"           type="xsd:string"/>
        <xsd:attribute name="Comment"         type="xsd:string"/>
      </xsd:complexType>
      
      <xsd:complexType name="equipment-item-type">
        <xsd:attribute name="EquipmentItem_Key"     type="xsd:integer"/>
        <!-- Stutensee: Name / BoardID of equipment item, 
            As in Dr. Eschke ASCII-Log "FIX->FIXTURECODE1", 
            UTW "Prüfaufbau"/"Ort" (Bootmux Serial nr., when Bootmux is used)
            Eschbach: Hilfsmittelnummer + Index-->
        <xsd:attribute name="Reference"         type="xsd:string"/>
        <!-- As in Eschke "FIX->FIXTURENAME1"-->
        <xsd:attribute name="EquipmentName"     type="xsd:string"/>
        <!-- As in Eschke "FIX->FIXTUREVERSION1"-->
        <xsd:attribute name="EquipmentRevision" type="xsd:string"/>
        <xsd:attribute name="Comment"           type="xsd:string"/>
      </xsd:complexType>
      
      <xsd:complexType name="argument-type">
        <xsd:attribute name="Argument_Key"      type="xsd:integer" use="required"/>
        <xsd:attribute name="Name"              type="xsd:string" use="required"/>							
        <xsd:attribute name="Value"             type="xsd:string" use="required"/>
        <xsd:attribute name="Unit"              type="xsd:string"/>
        <xsd:attribute name="Encoding"          type="xsd:string" default="UTF-8"/> 
        <xsd:attribute name="Type"              type="value-measurement-type"/>
        <xsd:attribute name="Comment"           type="xsd:string"/>
      </xsd:complexType>

      <xsd:simpleType name="test-result-type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="FAILED"/>
          <xsd:enumeration value="PASSED"/>
          <xsd:enumeration value="SKIPPED"/>
          <xsd:enumeration value="INCOMPLETE"/>
          <!-- for equipment defect, not product defect-->
          <xsd:enumeration value="ERROR"/> 
        </xsd:restriction>
      </xsd:simpleType>

<!-- Logical states as YES or NO, TRUE or FALSE, PASS or FAIL are boolean results
Digital results are measured results-->
      <xsd:simpleType name="value-digital-type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="HIGH"/>
          <xsd:enumeration value="LOW"/>
          <xsd:enumeration value="ON"/>
          <xsd:enumeration value="OFF"/>
          <xsd:enumeration value="1"/>
          <xsd:enumeration value="0"/>
          <xsd:enumeration value="OPEN"/>
          <xsd:enumeration value="CLOSED"/>
          <xsd:enumeration value="CONNECTED"/>
          <xsd:enumeration value="DISCONNECTED"/>
          <xsd:enumeration value="ENABLED"/>
          <xsd:enumeration value="DISABLED"/>						  
        </xsd:restriction>
      </xsd:simpleType>

      <xsd:simpleType name="value-measurement-type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="STRING"/>
          <xsd:enumeration value="BOOLEAN"/>
          <xsd:enumeration value="UNSIGNED"/>
          <xsd:enumeration value="SIGNED"/>
          <xsd:enumeration value="DECIMAL"/>
          <xsd:enumeration value="UT1DATE"/>
          <xsd:enumeration value="UT1TIME"/>
          <xsd:enumeration value="UT1DATETIME"/>
          <xsd:enumeration value="BLOB"/>
          <!--https://www.rfc-editor.org/rfc/rfc8141.html-->
          <xsd:enumeration value="URN"/>
          <!--https://de.wikipedia.org/wiki/Internet_Media_Type-->
          <xsd:enumeration value="MIMETYPE"/>
        </xsd:restriction>
      </xsd:simpleType>

      <!-- Test item (= single test step in a sequence) -->
      <xsd:element name="TestItem"  sql:relation="TestItem_Table"  sql:relationship="TestRun_TestItem" sql:key-fields="TestItem_Key">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TestItem_Key"        type="xsd:integer" />
            <!-- Index of test step in sequence -->
            <xsd:element name="Idx"                 type="xsd:short" minOccurs="0" maxOccurs="1"/>
            <!-- Result of this test step, UTW: Second line after test name, Eschke: String After ":" -->
            <xsd:element name="Result"              type="test-result-type" />
            <!-- Name of this test step, UTW: As in column "TestName", Name of test in plugin, Eschke: String preceding ":" in [] -->
            <xsd:element name="Name"                type="xsd:string" />
            <!-- Name of the parameter section of this test step, UTW: As in column "SectionName" -->
            <xsd:element name="Parameters"          type="xsd:string"   minOccurs="0" maxOccurs="1" />
            <!-- Reference to a test, block or drawing related, e.g. UTW fater UTW comment //@ .... // .... -->
            <xsd:element name="TestReference"       type="xsd:string"   minOccurs="0" maxOccurs="1" />
			<xsd:element name="TestReference_Index" type="xsd:integer"  minOccurs="0" maxOccurs="1" />
            <!-- Reference to a drawing number, block related, e.g. block diagram, Eschke: String preceding ":" after [] -->
            <xsd:element name="DrawingReference"    type="xsd:string"   minOccurs="0" maxOccurs="1" />
			<xsd:element name="DrawingReference_Index" type="xsd:integer"  minOccurs="0" maxOccurs="1" />
            <!-- Reference to a part number in a PCB, part related, e.g. part number, list string -->
            <xsd:element name="PartReference"       type="xsd:string"   minOccurs="0" maxOccurs="1" />
			<xsd:element name="PartReference_Index" type="xsd:integer"  minOccurs="0" maxOccurs="1" />
            <!-- UTW: As in column "Comment" , from test developer-->
            <xsd:element name="Comment"             type="xsd:string"   minOccurs="0" maxOccurs="1" />
            <!-- Test parameters, which are not listed in the ValueMeasurement/Argument element -->
            <xsd:element name="Argument" 		    type="argument-type"  sql:relation="Argument_Table" sql:relationship="TestItem_Argument" minOccurs="0" maxOccurs="unbounded"/>
            <!-- From operator or sequencer -->
            <xsd:element name="Remark"              type="xsd:string"   minOccurs="0" maxOccurs="1" />
            <!-- Short description of test step from developer-->
            <xsd:element name="Description"         type="xsd:string"   minOccurs="0" maxOccurs="1" />
            <!-- Output of test, UTW: As in Resultstring -->
            <xsd:element name="Stdout"              type="xsd:string"   minOccurs="0" maxOccurs="1" />
            <!-- Output of test in FAILED case, UTW: As in Errorstring, Eschke: String after last ] -->
            <xsd:element name="Stderr"              type="xsd:string"   minOccurs="0" maxOccurs="1" />
            <!-- E.g. exception text -->
            <xsd:element name="Debug"               type="xsd:string"   minOccurs="0" maxOccurs="1" />
            <!-- Start time of this test step -->
            <xsd:element name="StartTime"           type="xsd:dateTime" minOccurs="0" maxOccurs="1" />
            <!-- Duration of this test step, UTW: As in "Test Time" -->
            <xsd:element name="Duration"            type="xsd:duration" minOccurs="0" maxOccurs="1" />
            <xsd:element name="EquipmentItem"       type="equipment-item-type" sql:relation="EquipmentItem_Table" sql:relationship="TestItem_EquipmentItem" minOccurs="0" maxOccurs="unbounded" />

            <!-- Definition of result values returned by a test -->

            <!-- Table for strings returned by a test, e.g. name = "Pin4.1", actual="HIGH", expected="LOW" -->
            <xsd:element name="ValueText"          sql:relation="ValueText_Table" sql:relationship="TestItem_ValueText" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="ValueText_Key" type="xsd:integer" use="required"/>
                    <xsd:attribute name="Name"          type="xsd:string"/>
                    <xsd:attribute name="Value"         type="xsd:string"/>
                    <xsd:attribute name="Pattern"       type="xsd:string"/>
                    <xsd:attribute name="Encoding"      type="xsd:string" default="UTF-8"/>
                    <xsd:attribute name="Found"         type="xsd:boolean"/>
                    <xsd:attribute name="StartTime"     type="xsd:dateTime"/>
                    <xsd:attribute name="Duration"      type="xsd:duration"/>
                    <xsd:attribute name="Comment"       type="xsd:string"/>
                    <xsd:attribute name="Grp"           type="xsd:string"/>
                    <xsd:attribute name="Label"         type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>

            <!-- Table for analogue values from measurements, 
            e.g. Name="Voltage at test point 123/4", 
            Target.Value="8",
            Target.Type="DECIMAL"
            Min.Value="7,6", 
            Max.Value="8,4",
            Actual.Value="7,9", 
            Unit="V"-->
            <xsd:element name="ValueMeasurement"                              sql:relation="ValueMeasurement_Table" sql:relationship="TestItem_ValueMeasurement"  minOccurs="0" maxOccurs="unbounded" >
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ValueMeasurement_Key"                  type="xsd:integer" />
                        <xsd:element name="Name"                                  type="xsd:string"  minOccurs="0" maxOccurs="1" />
                        <xsd:element name="Argument" 		                          type="argument-type" sql:relation="Argument_Table" sql:relationship="ValueMeasurement_Argument" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="Actual" 	                              sql:relation="ValueMeasurementActual_Table" sql:relationship="ValueMeasurement_ValueMeasurementActual">
                            <xsd:complexType>
                                <xsd:attribute name="ValueMeasurementActual_Key"  type="xsd:integer" use="required"/>
                                <!-- Stutensee, Dr. Eschke: Value after "=" -->
                                <xsd:attribute name="Value"                       type="xsd:string" use="required"/>
                                <!-- Stutensee, Dr. Eschke: Unit after "=" -->
                                <xsd:attribute name="Unit"                        type="xsd:string" />                                 
                                <xsd:attribute name="Encoding"                    type="xsd:string" default="UTF-8"/>
                                <xsd:attribute name="Type"                        type="value-measurement-type" />
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Min"                                   sql:relation="ValueMeasurementMin_Table" sql:relationship="ValueMeasurement_ValueMeasurementMin" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                                <xsd:attribute name="ValueMeasurementMin_Key"     type="xsd:integer" use="required"/>
                                <!-- Stutensee, Dr. Eschke: First value in last"[]" -->
                                <xsd:attribute name="Value"                       type="xsd:string" use="required"/>  
                                <!-- Stutensee, Dr. Eschke: First unit in last"[]" -->								
                                <xsd:attribute name="Unit"                        type="xsd:string"/>                                   
                                <xsd:attribute name="Encoding"                    type="xsd:string" default="UTF-8"/>
                                <xsd:attribute name="Type"                        type="value-measurement-type"/>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Max"                                   sql:relation="ValueMeasurementMax_Table" sql:relationship="ValueMeasurement_ValueMeasurementMax" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                                <xsd:attribute name="ValueMeasurementMax_Key"     type="xsd:integer" use="required"/>
                                <!-- Stutensee, Dr. Eschke: Last value in last "[]" -->
                                <xsd:attribute name="Value"                       type="xsd:string" use="required"/>
                                <!-- Stutensee, Dr. Eschke: Last unit in last"[]" -->								
                                <xsd:attribute name="Unit"                        type="xsd:string"/>                                 
                                <xsd:attribute name="Encoding"                    type="xsd:string" default="UTF-8"/>
                                <xsd:attribute name="Type"                        type="value-measurement-type"/>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="Target"                                sql:relation="ValueMeasurementTarget_Table" sql:relationship="ValueMeasurement_ValueMeasurementTarget" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                                <xsd:attribute name="ValueMeasurementTarget_Key"  type="xsd:integer" use="required"/>
                                <xsd:attribute name="Value"                       type="xsd:string" use="required"/>
                                <xsd:attribute name="Unit"                        type="xsd:string"/>
                                <xsd:attribute name="Encoding"                    type="xsd:string" default="UTF-8"/>
                                <xsd:attribute name="Type"                        type="value-measurement-type"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="StartTime"                           type="xsd:dateTime"/>
                    <xsd:attribute name="Duration"                            type="xsd:duration"/>
                    <xsd:attribute name="Comment"                             type="xsd:string"/>
                    <xsd:attribute name="Grp"                                 type="xsd:string"/>
                    <xsd:attribute name="Label"                               type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>

            <!-- Table for digital values, e.g. name = "Pin4.1", actual="HIGH", expected="LOW" -->
            <xsd:element name="ValueDigital" 			    sql:relation="ValueDigital_Table" sql:relationship="TestItem_ValueDigital" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="ValueDigital_Key"  type="xsd:integer" use="required"/>
                    <xsd:attribute name="Name"              type="xsd:string"/>
                    <xsd:attribute name="StartTime"         type="xsd:dateTime"/>
                    <xsd:attribute name="Duration"          type="xsd:duration"/>
                    <xsd:attribute name="Comment"           type="xsd:string"/>
                    <xsd:attribute name="Grp"               type="xsd:string"/>
                    <xsd:attribute name="Label"             type="xsd:string"/>
                    <xsd:attribute name="Value"             type="value-digital-type" use="required"/>
                    <xsd:attribute name="Expected"          type="value-digital-type"/>
                </xsd:complexType>
            </xsd:element>

            <!-- Table for logical values, e.g. name = "Response from CPU", actual="TRUE", expected="FALSE" -->
            <xsd:element name="ValueLogical" 			    sql:relation="ValueLogical_Table" sql:relationship="TestItem_ValueLogical" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="ValueLogical_Key"  type="xsd:integer" use="required"/>
                    <xsd:attribute name="Name"              type="xsd:string"/>
                    <xsd:attribute name="StartTime"         type="xsd:dateTime"/>
                    <xsd:attribute name="Duration"          type="xsd:duration"/>
                    <xsd:attribute name="Comment"           type="xsd:string"/>
                    <xsd:attribute name="Grp"               type="xsd:string"/>
                    <xsd:attribute name="Label"             type="xsd:string"/>
                    <xsd:attribute name="Value"             type="xsd:boolean" use="required"/>
                    <xsd:attribute name="Expected"          type="xsd:boolean"/>
                </xsd:complexType>
            </xsd:element>

            <!-- Table for integer values, e.g. name = "State of GPIO Port 4", actual="0x1E", expected="0x1F" -->
            <xsd:element name="ValueState" 			    sql:relation="ValueState_Table" sql:relationship="TestItem_ValueState" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="ValueState_Key"    type="xsd:integer" use="required" />
                    <xsd:attribute name="Name"              type="xsd:string"/>
                    <xsd:attribute name="StartTime"         type="xsd:dateTime"/>
                    <xsd:attribute name="Duration"          type="xsd:duration"/>
                    <xsd:attribute name="Comment"           type="xsd:string"/>
                    <xsd:attribute name="Grp"               type="xsd:string"/>
                    <xsd:attribute name="Label"             type="xsd:string"/>
                    <xsd:attribute name="Value"             type="xsd:string" use="required"/>
                    <xsd:attribute name="Expected"          type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>

            <!-- Table for time values, e.g. name = "Programming time", value="2023-08-21T11:31:27.931" -->
            <xsd:element name="ValueTimestamp" 		      sql:relation="ValueTimestamp_Table" sql:relationship="TestItem_ValueTimestamp" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="ValueTimestamp_Key"  type="xsd:integer" use="required"/>
                    <xsd:attribute name="Name"                type="xsd:string"/>
                    <xsd:attribute name="StartTime"           type="xsd:dateTime"/>
                    <xsd:attribute name="Duration"            type="xsd:duration"/>
                    <xsd:attribute name="Comment"             type="xsd:string"/>
                    <xsd:attribute name="Grp"                 type="xsd:string"/>
                    <xsd:attribute name="Label"               type="xsd:string"/>
                    <xsd:attribute name="Value"               type="xsd:dateTime" use="required"/>
                </xsd:complexType>
            </xsd:element>

            <!-- Table for durations, e.g. name = "Response time", value="T15S" -->
            <xsd:element name="ValueTimedelta" 		      sql:relation="ValueTimedelta_Table" sql:relationship="TestItem_ValueTimedelta" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="ValueTimedelta_Key" type="xsd:integer" use="required"/>
                    <xsd:attribute name="Name"               type="xsd:string"/>
                    <xsd:attribute name="StartTime"          type="xsd:dateTime"/>
                    <xsd:attribute name="Duration"           type="xsd:duration"/>
                    <xsd:attribute name="Comment"            type="xsd:string"/>
                    <xsd:attribute name="Grp"                type="xsd:string"/>
                    <xsd:attribute name="Label"              type="xsd:string"/>
                    <xsd:attribute name="Value"              type="xsd:duration" use="required"/>
                </xsd:complexType>
            </xsd:element>

            <!-- Table for file information, e.g. name = "MCU Firmware", urn="\\MSC-NAS01\FW-Manage\ProgrammingData\ProjektBezogen\0481_WLO_SC_Panel\Firmware\42786_WLO_SC_PANEL-005_PCBFTX_A001\SC_Panel_005_1.24_1.06.hex" -->
            <xsd:element name="ValueFile"               sql:relation="ValueFile_Table" sql:relationship="TestItem_ValueFile" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="ValueFile_Key"  type="xsd:integer" use="required"/>
                    <xsd:attribute name="Name"           type="xsd:string"/>
                    <xsd:attribute name="StartTime"      type="xsd:dateTime"/>
                    <xsd:attribute name="Duration"       type="xsd:duration"/>
                    <xsd:attribute name="Comment"        type="xsd:string"/>
                    <xsd:attribute name="Grp"            type="xsd:string"/>
                    <xsd:attribute name="Label"          type="xsd:string"/>
                    <xsd:attribute name="Urn"            type="xsd:string" use="required"/>
                    <xsd:attribute name="MimeType"       type="xsd:string"/>
                    <xsd:attribute name="Checksum"       type="hash-type"/>
                </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- test run (= header element) -->
      <xsd:element name="TestRun"  sql:relation="TestRun_Table" sql:key-fields="TestRun_Key" >
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="TestRun_Key"             type="xsd:integer"/>
            <xsd:element name="MaterialNumber"          type="material-number-type" minOccurs="0" maxOccurs="1"/>
            <!-- Stutensee: Product name-->
            <xsd:element name="MaterialText"            type="xsd:string"/>
            <!-- Stutensee: Product revision-->
            <xsd:element name="MaterialRevision"        type="revision-type"/>
            <xsd:element name="Lot"                     type="lot-type"/>
            <xsd:element name="Station"                 type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <!-- Can be provided by sequencer, will be completed bx DB via trigger -->
            <xsd:element name="Routestep"               type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <!-- Can be provided by sequencer, will be completed bx DB via trigger -->
            <xsd:element name="WipReference"            type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="Comment"                 type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="SerialNumber"            type="xsd:string"/>
            <!-- Customer specific serial numbers -->
            <xsd:element name="SerialNumberAttributes"  type="serial-number-attributes-type"   sql:relation="SerialNumberAttributes_Table" sql:relationship="TestRun_SerialNumberAttributes" minOccurs="0" maxOccurs="unbounded"/>
            <!-- Stutensee, Dr. Eschke: "BRD" for multi-PCB trays, left upper corner to right lower corner index starting with 0 or as provided by vendor-->
            <xsd:element name="DUTPosition"             type="xsd:short" minOccurs="0" maxOccurs="1"/>
            <!-- Name of user which is logged in host. Stutensee, Dr. Eschke: "OPR" -->
            <xsd:element name="OperatorName"            type="xsd:string"/>
            <!-- Version of Host SW. Stutensee, UTW: "SW-Version" -->
            <xsd:element name="SoftwareVersion"         type="version-type" minOccurs="0" maxOccurs="1"/>
            <!-- Stutensee, Dr. Eschke: "FIX->COMPUTERNAME", UTW "Ort" (if no Bootmux is used) -->
            <xsd:element name="ComputerName"            type="xsd:string"/>
            <!-- Stutensee, UTW "OS" -->
            <xsd:element name="OperatingSystem"         type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <!-- Stutensee, Dr. Eschke: "FIX->OPERATINGMODE" , UTW User "debugger"-->		
            <xsd:element name="OperatingMode"           type="operating-mode-type" minOccurs="0" maxOccurs="1"/>
            <!-- Type of sequencer, e.g. Eschke/UTW/LabView... -->
            <xsd:element name="SequencerId"             type="xsd:string"/>	
            <!-- Entries for Stutensee e.g. SequenceName, PHandleName, for Eschbach: Name of LabView Ini file-->
            <xsd:element name="TestHandleAttributes"    type="test-handle-attributes-type" sql:relation="TestHandleAttributes_Table" sql:relationship="TestRun_TestHandleAttributes" minOccurs="0" maxOccurs="unbounded"/>
            <!-- Stutensee, Dr. Eschke: "RES", UTW "OSts"-->
            <xsd:element name="Result"                  type="test-result-type" />
            <!-- Stutensee, Dr. Eschke: "loc_Time_TestStart", UTW "starte Test..."-->
            <xsd:element name="StartTime"               type="xsd:dateTime"/>
            <!-- Stutensee, Dr. Eschke: "loc_Time_TestEnd", UTW "aktuelle Zeit:"-->
            <xsd:element name="EndTime"                 type="xsd:dateTime"/>
            <!-- Description of used equipment, e.g. Type of DMM, BoardID of AFTS Board..., can be referenced in element "TestItem"-->
            <xsd:element name="EquipmentItem"           type="equipment-item-type" sql:relation="EquipmentItem_Table" sql:relationship="TestRun_EquipmentItem" minOccurs="0" maxOccurs="unbounded" />
            <!-- Stutensee, Dr. Eschke: "[PLUGINS]" -->
            <xsd:element name="LibraryItem"             type="library-type" sql:relation="LibraryItem_Table" sql:relationship="TestRun_LibraryItem" minOccurs="0" maxOccurs="unbounded" />
            <!-- List of test steps -->
            <xsd:element ref="TestItem"                 sql:relation="TestItem_Table" sql:relationship="TestRun_TestItem" sql:key-fields="TestItem_Key" minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
